
.page-icon {
    width: 180px;
    height: 58px;
    display: inline-block;
    transition: all .2s;
    fill: #fff;
    vertical-align: middle;
    line-height: inherit;
    font-size: 1em;
}

.page-icon:hover {
    fill: #444;
}


.my-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    transition: .2s ease-out;
    color: #fff;
    background-color: #2c63f7;
    background: linear-gradient(90deg,#9376f7,#4015d0);
    box-shadow: 0px 1px 10px #999;
}

.nav-contanier {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    transition: .2s ease-out;
}

.nav-icon {
    width: 124px;
    height: 40px;
    display: block;
    transition: .2s;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
    margin-bottom: 0;
}

.nav-links {
    color: #FFF;
    text-decoration: none;
}

.nav-links:hover {
    color: #444;
    text-decoration: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.nav-links-btn {
    background: linear-gradient(45deg,#ff00de,#ff0078);
    padding: 0px 16px 7px 16px;
    border-radius: 30px;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
}

.nav-links-btn:hover {
    background: #FFF;
    color: #9376f7;
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #FFF;
}

@media (min-width: 992px) {
    .nav-contanier .a-logo {
        margin-right: 60px;
    }
}

@media (max-width: 992px) {
    .my-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #444;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #9376f7;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 70px;
        width: 100%;
        display: table;
        background-color: #2c63f7;
        background: linear-gradient(90deg,#9376f7,#4015d0);
    }

    .nav-links:hover {
        background: #9376f7;
        color: #FFF;
        transition: all 0.8s ease-out;
    }

    .nav-contanier {
        width: 100%;
    }

    .nav-links-btn {
        border-radius: 0px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 35%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}


.start-now {
    margin-top: calc(1.78571vw + 34.28571px)!important;
}

.start-now-bg {
    background-image: url(../../../assets/imgs/cta@2x.jpg);
    background-position: 50%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.start-now h3 {
    font-size: calc(.80357vw + 27.42857px);
    max-width: 600px;
    text-shadow: 0 0 1px rgba(0,0,0,.4);
    margin-bottom: .5em;
}

.start-now button {
    background: linear-gradient(90deg,#ede020,#ffba00);
    border: 0;
    color: #fff;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.start-now button a {
    text-decoration: none;
    color: #FFF;
}

.start-now button:hover {
    transition: all 0.2s;
    box-shadow: 0 15px 17px 3px rgba(72,31,210,.1);
}


.footer {
    padding: calc(1.78571vw + 54.28571px) 0 calc(1.78571vw + 14.28571px);
    padding-bottom: 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    text-decoration: none;
}

.footer ul li {
    padding-bottom: 10px;
}
.footer ul a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}

.footer ul a:hover {
    color: #9376f7;
}

.img-list img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.img-list li {
    display: inline;
}

.first-footer {
    border-bottom: 1px solid #DDD;
    padding-bottom: 50px;
}

.last-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-head {
    padding: 150px 0 100px;
}

.blog-head h1 {
    margin-bottom: 40px;
}

.blog-head a {
    color: #000;
}

.blog-head a:hover {
    text-decoration: none;
}

.blog-head .card {
    border: none;
}

.blog-head .card-body img {
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.card-img-top {
    border-radius: 30px !important;
    transition: all 0.2s;
}

.card-img-top:hover {
    opacity: 0.8;
}


.projects {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.carousel {
    background: #FFF;
    margin-top: 20px;
}
  
.carousel-cell {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    transition: all .2s;
}


.flickity-page-dots {
      display: none;
}

.flickity-prev-next-button.previous {
    display: none;
}

.flickity-prev-next-button.next {
    display: none;
}

.home-Intro {
    background: linear-gradient(90deg,#9376f7,#4015d0);
    color: #fff;
    padding: 200px 0;
    position: relative;
    z-index: 2;
}

.home-Intro h1 {
    font-size: calc(1.875vw + 24px);
    margin-bottom: 0;
}

.home-Intro button {
    background: linear-gradient(45deg,#ff00de,#ff0078);
    border: 0;
    border-radius: 10em;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: .5em;
    padding-bottom: .65em;
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
    margin-bottom: 30px;
    margin-top: 20px;
}

.home-Intro a {
    text-decoration: none;
    color: #fff;
}

.home-Intro button:hover {
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.3);
}

.home-Intro img {
    position: absolute;
    left: 100px;
    top: 140px;
    z-index: -1;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1919.84px) {
    .home-Intro img {
        left: 0;
        max-width: 900px;
    }
}

@media (max-width: 1500px) {
    .home-Intro img {
        max-width: 800px;
    }
}

@media (max-width: 1032px) {
    .home-Intro img {
        max-width: 500px;
    }
}
@media (max-width: 900px) {
    .home-Intro img{display: none;}
    .home-Intro {
        padding: 200px 0 100px;
    }
}

.home-about {
    margin-top: calc(2.67857vw + 51.42857px)!important;
    color: #000;
}

.home-about h2 {
    font-size: calc(.80357vw + 27.42857px);
    margin-bottom: 25px;
}

.home-about p {
    margin-bottom: 25px;
}

.home-fetures {
    margin-top: calc(2.67857vw + 51.42857px)!important;
}

.fetures {
    margin-right: -8px;
    margin-left: -8px;
}

.fetures> .column {
    padding-right: 8px;
    padding-left: 8px;
}

.grad-card {
    color: #fff;
    margin-bottom: 16px;
    border-radius: 20px;
    padding: calc(.89286vw + 17.14286px);
    transition: .2s ease-in-out;
    
}

.grad-content {
    margin-top: calc(.89286vw + 17.14286px);
    margin-bottom: calc(.89286vw + 17.14286px);
}

.home-fetures h2 {font-size: calc(.80357vw + 27.42857px);}

.home-fetures button {
    background: linear-gradient(45deg,#ff00de,#ff0078);
    border: 0;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
    margin-bottom: 30px;
    margin-top: 15px;
}

.home-fetures a {
    text-decoration: none;
    color: #fff;
}

.left-p {
    margin-top: 15px;
}

.home-fetures button:hover {
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.3);
}

.headline2 {
    margin-top: calc(2.67857vw + 51.42857px);
    padding: 0;
}


.play svg {
    width: 50px;
    height: 50px;
    fill: #ff89d4;
    transition: all 0.3s ease;
}

.play svg:hover {
    opacity: 0.8;
}

@media (max-width: 1200px) {
    .play {
        top: 30%;
        left: 42%;
    }
}

@media (max-width: 992px) {
    .play {
        top: 36%;
        left: 42%;
    }
}

@media (max-width: 576px) {
    .play {
        width:50px;
        height:50px;
        padding-top: 10px;
        padding-left: 6px;
    }

    .play svg {
        width:30px;
        height:30px;
    }
}

.play2 svg {
    fill: #9376f7;
}


.play {
    position: absolute;
    display: block;
    top: 40%;
    left: 42%;
    box-sizing: border-box;
	display:block;
	width:80px;
	height:80px;
	padding-top: 14px;
	padding-left: 8px;
	line-height: 20px;
    background: #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	transition: all 0.3s ease;
}


