.my-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    transition: .2s ease-out;
    color: #fff;
    background-color: #2c63f7;
    background: linear-gradient(90deg,#9376f7,#4015d0);
    box-shadow: 0px 1px 10px #999;
}

.nav-contanier {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    transition: .2s ease-out;
}

.nav-icon {
    width: 124px;
    height: 40px;
    display: block;
    transition: .2s;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
    margin-bottom: 0;
}

.nav-links {
    color: #FFF;
    text-decoration: none;
}

.nav-links:hover {
    color: #444;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background: linear-gradient(45deg,#ff00de,#ff0078);
    padding: 0px 16px 7px 16px;
    border-radius: 30px;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
}

.nav-links-btn:hover {
    background: #FFF;
    color: #9376f7;
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #FFF;
}

@media (min-width: 992px) {
    .nav-contanier .a-logo {
        margin-right: 60px;
    }
}

@media (max-width: 992px) {
    .my-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #444;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #9376f7;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 70px;
        width: 100%;
        display: table;
        background-color: #2c63f7;
        background: linear-gradient(90deg,#9376f7,#4015d0);
    }

    .nav-links:hover {
        background: #9376f7;
        color: #FFF;
        transition: all 0.8s ease-out;
    }

    .nav-contanier {
        width: 100%;
    }

    .nav-links-btn {
        border-radius: 0px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 35%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

.start-now {
    margin-top: calc(1.78571vw + 34.28571px)!important;
}

.start-now-bg {
    background-image: url(../../../assets/imgs/cta@2x.jpg);
    background-position: 50%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.start-now h3 {
    font-size: calc(.80357vw + 27.42857px);
    max-width: 600px;
    text-shadow: 0 0 1px rgba(0,0,0,.4);
    margin-bottom: .5em;
}

.start-now button {
    background: linear-gradient(90deg,#ede020,#ffba00);
    border: 0;
    color: #fff;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.start-now button a {
    text-decoration: none;
    color: #FFF;
}

.start-now button:hover {
    transition: all 0.2s;
    box-shadow: 0 15px 17px 3px rgba(72,31,210,.1);
}

.footer {
    padding: calc(1.78571vw + 54.28571px) 0 calc(1.78571vw + 14.28571px);
    padding-bottom: 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    text-decoration: none;
}

.footer ul li {
    padding-bottom: 10px;
}
.footer ul a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}

.footer ul a:hover {
    color: #9376f7;
}

.img-list img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.img-list li {
    display: inline;
}

.first-footer {
    border-bottom: 1px solid #DDD;
    padding-bottom: 50px;
}

.last-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.headline {
    padding: 150px 0 50px;
    text-align: center;
}

@media (min-width: 1024px) {
    .headline-contanier {
        width: 60%;
    }
}

.headline h1 {
    margin-bottom: 20px;
    font-size: calc(.80357vw + 27.42857px);
}

.courses p {
    font-family: Helvetica-ARlight;
}

.courses a {
    text-decoration: none;
    color: #212529;
}
.courses .card {
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.6s;
}

.card-img-top {
    border-radius: 30px !important;
    transition: all 0.2s;
}

.card-img-top:hover {
    opacity: 0.8;
}

.card-title {
    transition: all 0.2s;
}

.card-title:hover {
    color: #2c63f7;
}

.subscription {
    margin-top: 45px;
    text-align: center;
}

.subscription p {
    margin-bottom: 50px;
}

.sub-card {
    border-radius: 20px;
    padding: calc(0.89286vw + 37.14286px);
    background: linear-gradient(45deg,#ff00de,#ff0078);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.sub-card2 {background: linear-gradient(90deg,#9376f7,#4015d0);}
.sub-card3 {background: linear-gradient(90deg,#ede020,#ffba00);}

.sub-header h3{
    margin-bottom: calc(.89286vw + 17.14286px)!important;
}

.sub-header .sub-price {
    font-size: calc(.44643vw + 18.57143px);
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
}

.sub-price b {
    font-size: calc(1.78571vw + 34.28571px);
    margin-left: 10px;
}

.sub-p {
    margin-bottom: 0!important;
    font-size: calc(.80357vw + 27.42857px);
}

.sub-price2 {
    text-decoration: line-through;
    font-size: calc(.80357vw + 27.42857px);
}

.sub-btn {margin-top: 30px;}
.sub-btn a {
    text-decoration: none;
    margin-top: 20px;
    color: #9376f7;
}

.sub-btn button {
    background: #FFF;
    border: 0;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
}

.sub-btn button:hover {
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.3);
}

.sub-card a {
    color: #ff00de;
}

.sub-card2 a {
    color: #9376f7;
}

.sub-card3 a {
    color: #ede020;
}

.st-now2 {
    background-image: url(../../../assets/imgs/cta-blog.jpg);
}

.page-icon {
    display: inline-block;
    transition: all .2s;
    fill: #fff;
    vertical-align: middle;
    line-height: inherit;
    font-size: 1em;
}

.page-icon:hover {
    fill: #444;
}

.my-pagination .ngx-pagination .current {
    background: linear-gradient(90deg,#9376f7,#4015d0);
}
.add-to-cart:hover{
    color: green;
}

button {
    background: linear-gradient(45deg, #ff00de, #ff0078);
    border: 0;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 4px 17px 3px rgba(72, 31, 210, 0.1);
    margin-bottom: 10px;
    color: #FFF;
}

button:hover {box-shadow: 0 4px 17px 3px rgba(72, 31, 210, 0.3);}

.btn-num2 {
    background: linear-gradient(90deg,#9376f7,#4015d0)!important;
}



