.page-icon {
    display: inline-block;
    transition: all .2s;
    fill: #fff;
    vertical-align: middle;
    line-height: inherit;
    font-size: 1em;
}

.page-icon:hover {
    fill: #444;
}


.my-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    transition: .2s ease-out;
    color: #fff;
    background-color: #2c63f7;
    background: linear-gradient(90deg,#9376f7,#4015d0);
    box-shadow: 0px 1px 10px #999;
}

.nav-contanier {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    transition: .2s ease-out;
}

.nav-icon {
    width: 124px;
    height: 40px;
    display: block;
    transition: .2s;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 80%;
    justify-self: end;
    margin-bottom: 0;
}

.nav-links {
    color: #FFF;
    text-decoration: none;
}

.nav-links:hover {
    color: #444;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background: linear-gradient(45deg,#ff00de,#ff0078);
    padding: 0px 16px 7px 16px;
    border-radius: 30px;
    box-shadow: 0 4px 17px 3px rgba(72,31,210,.1);
}

.nav-links-btn:hover {
    background: #FFF;
    color: #9376f7;
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #FFF;
}

@media (min-width: 992px) {
    .nav-contanier .a-logo {
        margin-right: 60px;
    }
}

@media (max-width: 992px) {
    .my-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #444;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #9376f7;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 70px;
        width: 100%;
        display: table;
        background-color: #2c63f7;
        background: linear-gradient(90deg,#9376f7,#4015d0);
    }

    .nav-links:hover {
        background: #9376f7;
        color: #FFF;
        transition: all 0.8s ease-out;
    }

    .nav-contanier {
        width: 100%;
    }

    .nav-links-btn {
        border-radius: 0px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 35%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}


.start-now {
    margin-top: calc(1.78571vw + 34.28571px)!important;
}

.start-now-bg {
    background-image: url(../../../assets/imgs/cta@2x.jpg);
    background-position: 50%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.start-now h3 {
    font-size: calc(.80357vw + 27.42857px);
    max-width: 600px;
    text-shadow: 0 0 1px rgba(0,0,0,.4);
    margin-bottom: .5em;
}

.navbar-2 {
    background-color: #eb42ff;
    background: linear-gradient(90deg,#ff89d4,#eb42ff);
}

.nav2-links-btn {
    background: linear-gradient(45deg,#ff00de,#ff0078);
}

.nav2-links-btn:hover {
    color: #ff89d4;
}

@media (max-width: 992px) {
    .nav2-links {
        background-color: #eb42ff;
        background: linear-gradient(90deg,#ff89d4,#eb42ff);
    }

    .nav2-links:hover {
        background: #eb42ff;
    }

    .navbar-2 .nav-menu.active {
        background: #eb42ff;
    }

    .navbar-2 .nav2-links-btn {
        background-color: #eb42ff;
        background: linear-gradient(90deg,#ff89d4,#eb42ff);
    }
    .navbar-2 .nav2-links-btn:hover {
        color: #FFF;
        background: #eb42ff;
    }
}

.courseIntro {
    padding: 200px 0 120px;
    position: relative;
    z-index: 2;
    color: #fff;
    background: linear-gradient(90deg,#ff89d4,#eb42ff);
}

.courseIntro h1 {
    margin-bottom: 0!important;
    font-size: calc(1.875vw + 24px);
}

.courseIntro p {
    font-size: 18px;
    max-width: 550px;
    margin-top: calc(.89286vw + 17.14286px)!important;
    font-family: Helvetica-ARlight;
}


.courseIntro img {
    position: absolute;
    left: 10vw;
    bottom: 0;
    z-index: -1;
    margin: 0;
}

@media (max-width: 1400px) {
    .courseIntro img {max-width: 700px;}
}

@media (max-width: 1700px) {
    .courseIntro img {
        left: 0;
    }
}

@media (max-width: 1000px) {
    .courseIntro img {
        display: contents;
    }
}

.projects {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.carousel {
    background: #FFF;
    margin-top: 20px;
}
  
.carousel-cell {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    transition: all .2s;
}


.flickity-page-dots {
      display: none;
}

.flickity-prev-next-button.previous {
    display: none;
}

.flickity-prev-next-button.next {
    display: none;
}


.start-now button {
    background: linear-gradient(90deg,#ede020,#ffba00);
    border: 0;
    color: #fff;
    border-radius: 10em;
    padding: 8px 25px 10px 25px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

.start-now button a {
    text-decoration: none;
    color: #FFF;
}

.start-now button:hover {
    transition: all 0.2s;
    box-shadow: 0 15px 17px 3px rgba(72,31,210,.1);
}

.footer {
    padding: calc(1.78571vw + 54.28571px) 0 calc(1.78571vw + 14.28571px);
    padding-bottom: 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    text-decoration: none;
}

.footer ul li {
    padding-bottom: 10px;
}
.footer ul a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}

.footer ul a:hover {
    color: #9376f7;
}

.img-list img {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.img-list li {
    display: inline;
}

.first-footer {
    border-bottom: 1px solid #DDD;
    padding-bottom: 50px;
}

.last-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cell2 {
    width: 200px;
    height: 300px;
    background: #FFF;
    text-align: right;
}

.sound-box {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}

.sound-box:hover {
    opacity: 0.9;
}

.sound-box svg {
    margin: 0 auto;
}

.search {
    margin-top: 50px;
    text-align: center;
}

.search-input {
    text-align: center;
    padding: 12px 24px;
    font-size: 20px;
    width: 80%;
    border-radius: 30px;
    border: 2px solid #333;
    outline-style: none;
}

.fliter {
    margin-top: 20px;
}

.fliter span {
    font-size: 20px;
}

.fliter a {
    color: #000;
    padding-left: 30px;
}

.search-result {
    margin-top: 40px;
}

.search-result .sound-box {
    width: 300px;
}
@media (max-width: 992px) { .search-result .sound-box {width: 230px;} }
@media (max-width: 768px) { .search-result .sound-box {width: 220px;} }


.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}

.modal-content {
    background: linear-gradient(90deg, #9376f7, #4015d0);
    color: #FFF;
    border: none;
}
.modal-header {border-bottom:none;}
.modal-footer {
    justify-content: center;
    border-top: none;
}

.model-btn {
    background: linear-gradient(45deg, #ff00de, #ff0078);
    padding: 7px 16px 9px 16px;
    border-radius: 30px;
    box-shadow: 0 4px 17px 3px rgba(72, 31, 210, 0.1);
    color: #FFF;
}

.model-btn:hover {
    background: #FFF;
    color: #9376f7;
}