/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url(./assets/fonts/HelveticaNeueLTBold.ttf);
    font-family: Helvetica-ARbold;
}

@font-face {
    src: url(./assets/fonts/HelveticaNeueLTArabic.ttf);
    font-family: Helvetica-ARlight;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: Helvetica-ARbold;}

.flickity-page-dots {
    display: none;
}

.flickity-prev-next-button.previous {
  display: none;
}

.flickity-prev-next-button.next {
  display: none;
}
